.container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 40px;
  width: 100vw;
  height: 100vh;
  padding: 80px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgba(28, 23, 243, 0.5);
}

.div2 {
  grid-area: 3/1/4/2;
  background-color: rgba(190, 230, 72, 0.5);
}

.div3 {
  grid-area: 4 / 1 / 6 / 3;
}

.div4 {
  grid-area: 1 / 2 / 4 / 3;
}

.div5 {
  grid-area: 1 / 3 / 6 / 4;
  background-color: rgba(163, 26, 250, 0.5);
}
