.container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 40px;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.profileWidget {
    grid-area: 1 / 1 / 3 / 2;
}

.weatherWidget {
    grid-area: 3/1/4/2;
}

.timerWidget {
    grid-area: 4 / 1 / 6 / 3;
}

.notesWidget {
    grid-area: 1 / 2 / 4 / 3;
}

.newsWidget {
    grid-area: 1 / 3 / 6 / 4;
}