.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.selectedGenres {}

.selectedGenre {
    cursor: pointer;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.genres {}

.genre {
    cursor: pointer;
}