.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 20px;
}

.header {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
}

.heading {
    flex: 1;
    font-family: "Single Day", cursive;
    font-size: 2rem;
    color: #72DB73;
}

.header img {
    width: 80px;
    object-fit: contain;
    /* width: 100px;
    object-fit: contain; */
}