.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.heading {
  font-size: 6rem;
  color: #72db73;
}

.text {
  font-size: 2rem;
  color: white;
}

.subText {
  font-size: 1rem;
  color: #cccccc;
  max-width: 500px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.link {
  padding: 10px 20px;
  background-color: #72db73;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.link:hover {
  background-color: #5ab95b;
  color: white;
}
