.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formContainer form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputGroup label {
  font-size: 14px;
  margin-bottom: 5px;
  color: grey;
}

.inputGroup input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.inputGroup input:focus {
  outline: none;
  border-color: #72db73;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submitButton {
  padding: 10px 15px;
  background-color: #72db73;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #5eb960;
}
